apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: mlops
  source:
    repoURL: https://charts.min.io/
    chart: minio
    targetRevision: 5.4.0
    helm:
      values: |
        mode: standalone

        rootUser: minio
        rootPassword: minio12345

        persistence:
          enabled: true
          size: 10Gi

        resources:
          requests:
            memory: 256Mi
            cpu: 100m

        service:
          type: ClusterIP

        consoleService:
          type: ClusterIP
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
