apiVersion: batch/v1
kind: Job
metadata:
  name: minio-create-mlflow-bucket
  namespace: mlops
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: mc
        image: minio/mc:latest
        command: [ "/bin/sh", "-lc" ]
        args:
        - >
          mc alias set local http://minio:9000 minio minio12345 && (mc ls local/mlflow || mc mb local/mlflow)
