apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: housing-local
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/<USER>/<REPO>.git
    targetRevision: main
    path: k8s/envs/local
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
